<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -Multiviews
    </IfModule>

    RewriteEngine On

    # Bloquear acceso a archivos y carpetas sensibles
    RewriteRule ^(\.env|\.git|composer\.(json|lock)|package(-lock)?\.json|webpack\.mix\.js|yarn\.lock) - [F,L]
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor)(/.*)?$ - [F,L]

    # Redirigir todo lo demás a la carpeta public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
